#sec1 {
    margin: 100px 0;
    background-image:url(../images/section1bg.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.shop-category {
    padding: 115px 0;
}
.shop-category h1{
    font-weight: bold;
}