header{
    background-color: #477018;
    height: 50px;
    display: flex;
    align-items: center;
}
header div{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.search{
    display: none !important;
}
.icons img{
    padding: 0 5px;
    cursor: pointer;
}
@media (max-width:990px){
    .search{
        display: block !important;
    }
    .icons {
        display: none !important;
    }
    
}